package-lock=false

PUPPETEER_DOWNLOAD_BASE_URL="https://cdn.npmmirror.com/binaries/chrome-for-testing"

npm_config_sharp_libvips_binary_host="https://cdn.npmmirror.com/binaries/sharp-libvips"
//.npmrc 文件是 npm（Node Package Manager）的配置文件，用于存储 npm 客户端的全局配置选项。这个文件可以位于不同的位置，以影响不同范围（全局、用户级或项目级）的 npm 行为。